<body style="background-color: #1A1423">
  <nav class="navbar navbar-light bg-primary mb-3">
    <%= link_to((events_path), class: "text-decoration-none purple-font") do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </nav>
  <div class="container">
    <h1 class="lavender-font poiret-font border-bottom border-primary py-2"><%= @event.name %></h1>
  </div>
</body>
