<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('masks.jpg') %>)">
  <div class="container">
    <h1 class="poiret-font mb-2"><strong>Masquerade</strong> Manager</h1>
    <%= link_to "See all events", events_path, class: "btn btn-outline-primary" %>
  </div>
</div>
