<body style="background-color: #1A1423;">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('masks.jpg') %>)">
    <div class="container">
      <h1 class="poiret-font-h1 mb-3">Masquerade Manager</h1>
      <%= link_to "See all events", events_path, class: "lato-font btn btn-lg btn-outline-primary mb-3" %>
    </div>
  </div>
</body>
